/packing-interfaces/.project
/packing-interfaces/.settings
/packing-interfaces/target
/packing-interfaces/.classpath
/packing/target
/packing/.classpath
/packing/.project
/packing/.springBeans
/packing/.settings
/.project
/.settings
